.logo-content {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.small span{
  font-size: 1.7rem;
}
.small img {
  width: 40px;
  height: 40px;
}
.large span{
  font-size: 2.2rem;
}
.large img{
  width: 50px;
  height: 50px;
}