.sliderImg img{
    position: relative;
    width: 230px;
    cursor: pointer;
    height: 100%;
}
.movie-card-overlay{
    opacity: 0;
    position: absolute;
    width: 230px;
    height: 100%;
    z-index: 2;
    transition: 0.2s all;
    background-color: rgb(0, 0, 0, 0.4);
}
.movie-card-overlay:hover{
    opacity: 1;
}
.unChecked-bookmark, .checked-bookmark{
    cursor: pointer;
    fill: #10141e;
    color: #10141e;
    background-color: rgb(204, 204, 204);
    border-radius: 100%;
    padding: 3px;
    height: 25px;
    width: 25px;
    transition: 0.2s all;
}
.unChecked-bookmark:hover, .checked-bookmark:hover{
    background-color: rgb(213, 33, 33);
}
.secondary svg{
    height: 17px;
    width: 17px;
}
.movie-card-overlay button{
    margin-top: 10px;
    margin-right: 10px;
    float: right;
}
.movie-card-overlay a{
    display: flex;
    background-color: rgba(16, 20, 30, 0.7);
    padding: 7px 10px;
    border-radius: 10px;
    font-size: 1.3rem;
    align-items: center;
    gap: 2px;
    margin: 150px auto;
    font-family: "Roboto", sans-serif;
    word-spacing: 1px;
    transition: 0.2s all;
    width: fit-content;
    color: white;
    cursor: pointer;
    text-decoration: none;
}
.movie-card-overlay a:hover{
    background-color: rgba(188, 188, 188, 0.7);
    color: rgba(16, 20, 30, 0.7);
    font-weight: 500;
}