.sliderImg img{
    position: relative;
    width: 230px;
    cursor: pointer;
    height: 100%;
}
.movie-card-overlay{
    opacity: 1;
    position: absolute;
    width: 230px;
    height: 100%;
    z-index: 2;
    transition: 0.2s all;
    background-color: rgb(0, 0, 0, 0.3);
}
.movie-card-overlay:hover{
    opacity: 1;
}
.movie-card-overlay button{
    margin-top: 10px;
    margin-right: 10px;
    float: right;
}
.unChecked-bookmark, .checked-bookmark{
    cursor: pointer;
    background-color: rgb(204, 204, 204);
    border-radius: 100%;
    padding: 3px;
    height: 25px;
    width: 25px;
    transition: 0.2s all;
}
.unChecked-bookmark:hover, .checked-bookmark:hover{
    background-color: rgb(213, 33, 33);
}
