.single-movie-content {
  color: white;
  width: 940px;
  margin: 30px auto;
  padding: 0 5px;
}
.movie-textual-info-top {
  display: flex;
  margin-bottom: 10px;
}
.movie-title h1 {
  font-size: 1.8rem;
  margin-bottom: 2px;
}
.movie-title span {
  font-size: 1.5rem;
  color: rgb(255, 255, 255, 0.75);
}
.movie-rank {
  margin-left: 50px;
}
.movie-rating h2,
.movie-rank h2 {
  font-size: 1.8rem;
  margin-bottom: 2px;
  color: rgb(255, 255, 255, 0.75);
}
.movie-rating span,
.movie-rank span {
  font-size: 1.5rem;
}
.movie-rating-max-points,
.movie-rank-max-points {
  color: rgb(255, 255, 255, 0.75);
}
.rating-star {
  fill: yellow;
  height: 13px;
  width: 13px;
  margin-right: 3px;
}
.movie-frame {
  display: flex;
  justify-content: space-between;
  gap: 6px;
}
.single-movie-content img {
  height: 400px;
}
.single-movie-content iframe {
  height: 400px;
  flex: 1;
  border: none;
}
.movie-rating {
  margin-left: auto;
}
.movie-textual-info-bottom {
  margin-top: 10px;
  width: 700px;
}
.movie-textual-info-bottom hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid rgb(255, 255, 255, 0.75);
  margin: 1em 0;
  padding: 0;
}
.movie-textual-info-bottom li {
  list-style: none;
}
.genre {
  display: flex;
  font-size: 1.6rem;
  margin-bottom: 5px;
}
.genre-description {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.75);
}
.movie-textual-info-bottom dl {
  margin-top: 10px;
}
.director,
.writers {
  font-size: 1.6rem;
  font-weight: 500;
}
.director-info,
.writers-info{
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.75);
}
