.sing-up-content {
  background-color: var(--nav--bg);
  padding: 40px 50px;
  border-radius: 10px;
}
.sing-up-window input{
    margin-bottom: 20px;
}
.sing-up span{
  color: white;
}
.sing-up-title {
  margin-bottom: 30px;
  color: white;
  font-size: 3rem;
  font-weight: 500;
}
.sing-up-questions{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
    font-size: 1.5rem;
    margin-top: 15px;
    gap: 10px;
}
.sing-up-questions span{
    color: rgb(255, 255, 255, 0.75);
}
.sing-up-question-section{
    display: flex;
    gap: 7px;
}
.sign-up-error-message{
  margin-top: -5px;
  margin-bottom: 10px;
  color: rgb(255, 255, 255, 0.9);
  font-weight: 500;
}