.slider{
    margin: 70px auto;
    width: fit-content;
}
.slider-title{
    color: white;
    font-size: 2.5rem;
    font-weight: 400;
    margin-left: 80px;
    margin-bottom: 10px;
}
.slider-content{
    display: flex;
    height: fit-content;
    width: fit-content;
}
.slider-box{
    display: flex;
    overflow: hidden;
    width: 938px;
}
.slider-box-content{
    display: flex;
    gap: 5px;
    transition: transform 600ms ease-out;
}
.left-arrow, .right-arrow{
    fill: white;
    height: 80px;
    width: 80px;
    transition: 0.2s all;
}
.left-arrow:hover, .right-arrow:hover{
    fill: rgb(213, 33, 33);
}
