.btn{
    display: flex;
    justify-content: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: white;
}
.primary-large{
    color: rgb(0, 0, 0, 0.75);
    background-color: rgb(255, 255, 255, 0.75);
    border-radius: 100%;
    width: 40px;
    height: 40px;
    transition: 0.3s all;
    font-size: 1.6rem;
}
.primary-large:hover {
    background-color: var(--nav--bg);
    color: white;
}
.secondary{
    color: white;
    background-color: rgb(205, 46, 46);
    width: 100%;
    border-radius: 5px;
    padding: 8px;
    transition: 0.2s all;
}
.secondary:hover{
    background-color: rgb(228, 43, 43);
}
.lg{
    font-size: 1.7rem;
}
.danger{
    color: rgb(233, 52, 52);
}
.md{
    font-size: 1.5rem;
    font-weight: 600;
}
.disabled{
    background-color: gray;
}