.login-content {
  display: flex;
  flex-direction: column;
  width: 450px;
  margin: 150px auto;
  align-items: center;
  gap: 30px;
  background-color: var(--nav--bg);
  padding: 40px 50px;
  border-radius: 10px;
}
.login-content input{
    margin-bottom: 20px;
}
.login span{
  color: white;
}
.login-title {
  margin-bottom: 30px;
  color: white;
  font-size: 3rem;
  font-weight: 500;
}
.login-questions{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
    font-size: 1.5rem;
    margin-top: 15px;
    gap: 10px;
}
.login-questions span{
    color: rgb(255, 255, 255, 0.75);
}
.login-question-section{
    display: flex;
    gap: 7px;
}
.login-error-message{
  margin-top: -5px;
  margin-bottom: 10px;
  color: rgb(255, 255, 255, 0.9);
  font-weight: 500;
}