.movie-list{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 50px auto;
}
.movie-list-content{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    width: 1050px;
}
.movie-list span{
    font-size: 2rem;
    text-align: center;
    margin-left: 5px;
    width: fit-content;
}
.list-numbers{
    display: flex;
    margin: 30px auto;
    gap: 10px;
    background-color: white;
    padding: 5px 6px; 
    border-radius: 50px;
   
}
.list-numbers svg{
    color: rgb(0, 0, 0, 0.75);
    height: 20px;
    width: 20px;
    margin-top: 3px;
    transition: 0.3s all;
}
.list-numbers button:hover svg{
    color: rgba(255, 255, 255, 0.75);
}
