@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
html{
  font-size: 62.5%;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Outfit, sans-serif;
}
body{
  background-color: var(--body-bg);
}
:root {
  --nav--bg: #161d2f;
  --nav-font: Outfit, sans-serif;

  --body-bg: #10141e;
}
