.homepage{
    width: 100%;
}
.navbar{
    display: flex;
    align-items: center;
    background-color: var(--nav--bg);
    height: 65px;
    width: 100%;
    font-family: var(--nav-font);
    color: rgb(255, 255, 255);
    font-weight: 400;
}
.logo-content{
    display: flex;
    align-items: center;
    font-size: 1.7rem;
    gap: 8px;
    margin-left: 80px;
}
.logo{
    width: 40px;
    height: 40px;
}
.logout-option{
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 500;
    margin-right: 85px;
}
.logout-option svg{
    fill: white;
    height: 20px;
    width: 20px;
    margin-top: 5px;
    transition: 0.2s all;
}
.logout-option svg:hover{
    fill: rgb(214, 57, 57);
}
.welcome-message{
    margin-left: auto;
    font-size: 1.6rem;
    font-weight: 500;
    margin-right: 25px;
    margin-top: 1px;
}